@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a MVC transition of Wingtip Toy Webform Application.<br />
    It is still under active construction.
    
    
    </p>
