
@{
    ViewBag.Title = "Product";

}

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Product</h2>
    <image src='/Images/Thumbs/logo.jpg'></image>

    <table>
        <tr>
            <td>shsakti</td>
        </tr>
        <tr>
            <td>singh</td>
        </tr>
    </table>
        
</asp:Content>


